.RollDice button{
    border: none;
    background-color: hotpink;
    padding: 1.5em;
    color: aliceblue;
    font-weight: bold;
    border-radius: 0.5em;
    width: 15em;
    margin-top: 3em;
    transition: all ease 200ms;
}

.RollDice button:hover{
    background-color: lightpink;
}

.RollDice button:focus{
    outline: none;
}

.RollDice button:active{
    transform: scale(0.95);
}